*{

    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
    
}

body{
    box-sizing: border-box;
    text-align: center;
    
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    background-color:#FFD59E;
    height:100%;
  
   
}

.muterial-con{

    flex: 1 1 auto;
}

.main-con{

    flex: 1 1 auto;
    margin-top: 30px;

}

.main{
display: flex;
justify-content: center;
align-items: center;
background-color: #F9FFA4;
border-radius: 10px;
box-shadow: inset 0 0 10px #615338;



}

.page{
    height: 400px;
    width: 400px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 1px red solid;
    margin-top: 50px;
    margin-bottom: 50px;
}

.input-container{
    
  
    align-items: center;
    margin-top: 150px;
    margin-left: 100px;
}

.row1s{
    display: flex;
    margin:20px;
    
}

.row2s{
    display: flex;
    margin: 20px;
}

.btn{

    width: 50px;
    height: 50px;
    color: #edf672;
    margin: 5px;
    text-align: center;
    background-color: #FFA1A1;
    transition: 1s;
}

.btn:hover{

    width: 50px;
    height: 50px;
    border: 2px black solid;
    margin: 5px;
    text-align: center;
    background-color: #f35a5ac4;
}



#btn-clr{

background-color:#B4FF9F;
width: 50px;
height: 50px;
border-radius: 50%;
font-size: 40px;
text-align: center;
align-items: center;
border: 3px #edf672 solid;
margin-left: 70px;
transition: 1s;
color: #FFA1A1;
}

#btn-clr:hover{

    background-color:#edf672;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 40px;
    text-align: center;
    align-items: center;
    border: 3px #FFA1A1 solid;
    color: #fe6b6b;
    
    }

.title{

    color: #FFA1A1;
}


.mode{
    flex: 1 1 auto;
    color: #fe6b6b;
    margin-top: 200px;
    font-size: 20px;
}

.mode img{
    
    width: 40px;
    height: 40px;
    margin-top: 10px;
    
}