*{

    box-sizing: border-box;
    margin: 0;
    padding: 0;
  
    
}

body{

    text-align: center;
    height: 100vh;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
   
}

.muterial-con{

    flex: 1 1 auto;
}

.main-con{

    flex: 1 1 auto;
    margin-top: 30px;

}

.main{
display: flex;

justify-content: center;
align-items: center;
background-color: white;




}

.page{
    height: 600px;
    width: 600px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 5px red solid;
    margin-top: 50px;
}

.input-container{
    
  
    align-items: center;
    margin-top: 150px;
    margin-left: 100px;
}

.row1s{
    display: flex;
    margin:20px;
    
}

.row2s{
    display: flex;
    margin: 20px;
}

.btn{

    width: 50px;
    height: 50px;
    border: 2px black solid;
    margin: 5px;
    text-align: center;
    background-color: aqua;
    transition: 1s;
}

.btn:hover{

    width: 50px;
    height: 50px;
    border: 2px black solid;
    margin: 5px;
    text-align: center;
    background-color: rgb(3, 193, 193);
}



#btn-clr{

background-color: red;
width: 50px;
height: 50px;
border-radius: 50%;
font-size: 40px;
text-align: center;
align-items: center;
border: 3px black solid;
margin-left: 70px;
transition: 1s;
}

#btn-clr:hover{

    background-color: rgb(186, 2, 2);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 40px;
    text-align: center;
    align-items: center;
    border: 3px black solid;
    color: aliceblue;
    
    }
